<%= render layout: 'rsvp_step' do %>
  <%= simple_form_for @object, url: wizard_path, method: :put do |f| %>
    <%= f.simple_fields_for :people do |person| %>
      <%= content_tag(:div, class: 'person', data: {id: person.object.id}) do %>
        <h3><%= person.object.full_name %></h3>
        <% if @object.breakfast %>
          <%=
            person.input :attending_breakfast,
            wrapper_class: 'attendance-input'
          %>
        <% end %>
        <% if @object.reception %>
          <%=
            person.input :attending_reception,
            wrapper_class: 'attendance-input'
          %>
        <% end %>
      <% end %>
    <% end %>

    <%= f.button :submit, 'Next' %>
  <% end %>
<% end %>
