<main>
  <%= simple_form_for @object, url: wizard_path, method: :put do |f| %>
    <%= f.simple_fields_for :people do |person| %>
      <%= content_tag(:div, class: 'person', data: {id: person.object.id}) do %>
        <%= person.object.full_name %>
        <%= person.input :attending %>
      <% end %>
    <% end %>

    <%= f.button :submit, 'Next' %>
  <% end %>
</main>
