<main>
  <%= simple_form_for @object, url: wizard_path, method: :put do |f| %>
    <%= f.simple_fields_for :people do |person| %>
      <%= content_tag(:div, class: 'person', data: {id: person.object.id}) do %>
       <%= person.object.full_name %>
       <%= person.simple_fields_for :food_choices do |food_choice| %>
          <%= food_choice.input :food,
            collection: food_for_sitting(food_choice.object.sitting),
            include_blank: true,
            label: food_choice.object.sitting.humanize,
            selected: food_choice.object.food_id %>
        <% end %>

        <%= person.input :dietary_requirements, as: :text %>
      <% end %>
    <% end %>

    <%= f.button :submit, 'Next' %>
  <% end %>
</main>
