<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <%= csrf_meta_tags %>
    <title>Hannah &amp; Karl's Wedding - 23rd September 2017</title>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Handlee">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navigation' %>

    <% flash.each do |key, value| %>
      <div class="<%= flash_class(key) %>">
        <span><%= value %></span>
      </div>
    <% end %>

    <%= yield %>

    <%= yield :body_bottom  %>
    <%= javascript_include_tag 'application' %>
    <%= render 'analytics' %>
  </body>

</html>
