<!DOCTYPE html>
<html>
  <head>
    <title>Wedding</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Great+Vibes">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Calligraffitti">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Roboto">

  </head>

  <body>
    <%= yield %>

    <%= render 'refills/footer' %>

    <%= yield :body_bottom  %>
    <%= javascript_include_tag 'application' %>
  </body>

</html>
