<!DOCTYPE html>
<html>
  <head>
    <title>Hannah &amp; Karl's Wedding - 23rd September 2017</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" type="text/css"
          href="https://fonts.googleapis.com/css?family=Handlee">
  </head>

  <body>
    <%= render 'layouts/header' %>
    <%= render 'layouts/navigation' %>

    <%= yield %>

    <%= yield :body_bottom  %>
    <%= javascript_include_tag 'application' %>
    <%= render 'analytics' %>
  </body>

</html>
